<main class="app_main">
  <h1>{{titulo}}</h1>

  <form [formGroup]="formulario_tarefa">
    <fieldset>
      <input type="text" minlength="3" maxlength="60" placeholder="Adicione uma nova tarefa..." formControlName="tarefa" required/>
      <button
        [disabled]="formulario_tarefa.invalid"
        (click)="adicionar_tarefa()"
        class="bt"
      >Adicionar</button>
    </fieldset>
  </form>
  
  <ul>
    <li *ngFor="let tarefa of tarefas">
      <span class="tarefa">{{tarefa.tarefa}}</span>
      <span class="botoes">
        <button
          *ngIf="!tarefa.concluida"
          (click)="concluir_tarefa(tarefa)"
          class="bt concluir"
        >Concluir</button>
        
        <button
          *ngIf="tarefa.concluida"
          (click)="refazer_tarefa(tarefa)"
          class="bt refazer"
        >Refazer</button>
        
        <button
          (click)="remover_tarefa(tarefa)"
          class="bt remover"
        >Remover</button>
      </span>
    </li>
  </ul>
</main>